/*0 Margin*/
.nomargin {
    margin: 0px !important;
}

.mtop-0 {
    margin-top: 0px !important;
}

.mright-0 {
    margin-right: 0px !important;
}

.mbottom-0 {
    margin-bottom: 0px !important;
}

.mleft-0 {
    margin-left: 0px !important;
}
/*0 Margin*/

/*5 Margin*/
.mtop-5 {
    margin-top: 5px !important;
}

.mright-5 {
    margin-right: 5px !important;
}

.mbottom-5 {
    margin-bottom: 5px !important;
}

.mleft-5 {
    margin-left: 5px !important;
}
/*5 Margin*/

/*10 Margin*/
.mtop-10 {
    margin-top: 10px !important;
}

.mright-10 {
    margin-right: 10px !important;
}

.mbottom-10 {
    margin-bottom: 10px !important;
}

.mleft-10 {
    margin-left: 10px !important;
}
/*10 Margin*/

/*15 Margin*/
.mtop-15 {
    margin-top: 15px !important;
}

.mright-15 {
    margin-right: 15px !important;
}

.mbottom-15 {
    margin-bottom: 15px !important;
}

.mleft-15 {
    margin-left: 15px !important;
}
/*15 Margin*/

/*20 Margin*/
.mtop-20 {
    margin-top: 20px !important;
}

.mright-20 {
    margin-right: 20px !important;
}

.mbottom-20 {
    margin-bottom: 20px !important;
}

.mleft-20 {
    margin-left: 20px !important;
}
/*20 Margin*/

/*25 Margin*/
.mtop-25 {
    margin-top: 25px !important;
}

.mright-25 {
    margin-right: 25px !important;
}

.mbottom-25 {
    margin-bottom: 25px !important;
}

.mleft-25 {
    margin-left: 25px !important;
}
/*25 Margin*/

/*30 Margin*/
.mtop-30 {
    margin-top: 30px !important;
}

.mbottom-30 {
    margin-bottom: 30px !important;
}

.mright-30 {
    margin-right: 30px !important;
}

.mleft-30 {
    margin-left: 30px !important;
}
/*30 Margin*/

/*0 Padding*/
.nopad {
    padding: 0px !important;
}

.ptop-0 {
    padding-top: 0px !important;
}

.pright-0 {
    padding-right: 0px !important;
}

.pbottom-0 {
    padding-bottom: 0px !important;
}

.pleft-0 {
    padding-left: 0px !important;
}
/*0 Padding*/

/*10 Padding*/
.ptop-10 {
    padding-top: 10px !important;
}

.pright-10 {
    padding-right: 10px !important;
}

.pbottom-10 {
    padding-bottom: 10px !important;
}

.pleft-10 {
    padding-left: 10px !important;
}
/*10 Padding*/

/*15 Padding*/
.ptop-15 {
    padding-top: 15px !important;
}

.pright-15 {
    padding-right: 15px !important;
}

.pbottom-15 {
    padding-bottom: 15px !important;
}

.pleft-15 {
    padding-left: 15px !important;
}
/*15 Padding*/

/*20 Padding*/
.ptop-20 {
    padding-top: 20px !important;
}

.pright-20 {
    padding-right: 20px !important;
}

.pbottom-20 {
    padding-bottom: 20px !important;
}

.pleft-20 {
    padding-left: 20px !important;
}
/*20 Padding*/

/*25 Padding*/
.ptop-25 {
    padding-top: 25px !important;
}

.pright-25 {
    padding-right: 25px !important;
}

.pbottom-25 {
    padding-bottom: 25px !important;
}

.pleft-25 {
    padding-left: 25px !important;
}
/*25 Padding*/

/*30 Padding*/
.ptop-30 {
    padding-top: 30px !important;
}

.pright-30 {
    padding-right: 30px !important;
}

.pbottom-30 {
    padding-bottom: 30px !important;
}

.pleft-30 {
    padding-left: 30px !important;
}
/*30 Padding*/

/*Border Starts Here*/
.brdr-0 {
    border: none;
}

.brdrtop-0 {
    border-top: none;
}

.brdrright-0 {
    border-right: none;
}

.brdrbottom-0 {
    border-bottom: none;
}

.brdrleft-0 {
    border-left: none;
}

/*Border Ends Here*/