<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="style/screen.css">
</head>
<body ng-app="BlankApp" ng-cloak id="login" ng-controller="myCtrl">
 
          <div layout="column" layout-align="center center" class="height100 ">
              <div class="logo">
                <img src="images/logo.png" alt="" />
              </div>
             

              <md-whiteframe class="md-whiteframe-3dp" layout-align="center center">
                <div class="loginview" >                
                  <div class="loginform">
                    <md-input-container class="md-block">
                      <label>Email</label>
                      <input ng-model="email">
                    </md-input-container>
                    <md-input-container class="md-block">
                      <label>Password</label>
                      <input ng-model="password">
                    </md-input-container>                    
                    <div layout="row" layout-align="end center">
                    <!-- <md-button class="md-raised md-primary nomargin" ng-href="dashboard.html" >Register</md-button> -->
                    <md-button class="md-raised md-primary nomargin" ng-click="myFunc()">Register</md-button>
                    </div>
                  </div>
                </div>
              </md-whiteframe>   
                <div class="signtxt ptop-10">
                 Not a registered user yet?
                  <a href="login.html">Sign up now!</a>
                </div>
        </div>

 
        
  
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBeiuEndX8d5Y_2vNX-SLwd3xMDBfv193Y",
      authDomain: "test-e80c6.firebaseapp.com",
      databaseURL: "https://test-e80c6.firebaseio.com",
      projectId: "test-e80c6",
      storageBucket: "test-e80c6.appspot.com",
      messagingSenderId: "533571532202"
    };
    firebase.initializeApp(config);
  </script>
  <!-- Your application bootstrap  -->
  <script type="text/javascript">   
   
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    //  var MyA = angular.module('BlankApp', ['ngMaterial']);
    // angular.module('BlankApp', ['ngMaterial']);
  var app = angular.module('BlankApp', ['ngMaterial']);
  app.controller('myCtrl', function ($scope) {
    $scope.myFunc = function() {
      var fbemail = $scope.email; 
       var fbpassword = $scope.password;
       var logindetails = firebase.database().ref("Login/");

      logindetails.update({
        1: {
          Email:fbemail,
          Password: fbpassword
        }        
      });
    }
   

  });  
  
  firebase.auth().languageCode = 'it';
  window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('sign-in-button', {
      'size': 'invisible',
      'callback': function (response) {
        // reCAPTCHA solved, allow signInWithPhoneNumber.
        onSignInSubmit();
      }
    });
    window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
 
  </script>
  
</body>
</html>