<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="style/screen.css">
  <script src="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.css" />

</head>
<body ng-app="BlankApp" ng-cloak id="login" ng-controller="myCtrl">
 
          <div layout="column" layout-align="center center" class="height100 ">
              <div class="logo" id="logo">
                <img src="images/logo.png" alt="" />
              </div>
              <md-whiteframe class="md-whiteframe-3dp" layout-align="center center">
                <div class="loginview" id="phoneverify">                
                  <div class="viewform">
                      <div layout="row" flex="100">
                      <md-input-container class="md-block">
                  
                  
            <md-select ng-model="country" ng-disabled="true" aria-label="country" ng-change="changeCount(country)">
                    <md-option value="+91" ng-selected="true" > +91 </md-option>
            </md-select>  </md-input-container>
                          
                          
                           <md-input-container class="md-block" flex="80">
                    <label>Phone Number</label>
                    <input ng-model="phonenumber">  </md-input-container>
                      </div>    
                      
                      <div id="recaptcha-container"></div>
                      <div layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary nomargin mtop-15" ng-click="VerifyFunc()">Verify</md-button>
                      </div>
                  </div>
                </div>
                   <div class="loginview" id="codeverify">  
                         <div class="loginform">
                       <md-input-container class="md-block">
                    <label>Code</label>
                    <input ng-model="verificationcode">
                  </md-input-container>
                         <md-button class="md-raised md-primary nomargin " ng-click="RegisterFunc()">Confirm</md-button>
                       </div>
                  </div>
              </md-whiteframe>   
              <div id="success">
                  <h1>Signup Successful</h1>
              You have registered succesfully!
                  <p>Click to <a href="login.html">login</a> here!</p>
              </div>
        </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>  <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>    
  <script src="js/firebaseInit.js"></script>    

<script type="text/javascript">   
 var app = angular.module('BlankApp', ['ngMaterial']);
 var phverify = document.getElementById("phoneverify");
 var cdverify = document.getElementById("codeverify");
 var logo = document.getElementById("logo");
 var success = document.getElementById("success");
 var fbPhoneNumber; success.style.display = "none";
 cdverify.style.display = "none";
 logo.style.display = "block";
 app.controller('myCtrl', function($scope) {
     $scope.changeCount = function(obj) {
         fbPhoneNumber = obj;         
         fbPhoneNumber = fbPhoneNumber;  
     };
     window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
     recaptchaVerifier.render().then(function(widgetId) {
         window.recaptchaWidgetId = widgetId;
     });
     $scope.VerifyFunc = function() {
           fbPhoneNumber = fbPhoneNumber + $scope.phonenumber;
         firebase.auth().signInWithPhoneNumber(fbPhoneNumber, window.recaptchaVerifier)
             .then(function(confirmationResult) {
                 window.confirmationResult = confirmationResult;
                 phverify.style.display = "none";
                 cdverify.style.display = "block";
             });
     }
     $scope.RegisterFunc = function() {
         window.confirmationResult.confirm($scope.verificationcode)
             .then(function(result) {
             console.log("entry");
                   var uidd = sessionStorage.getItem('uid');             
                   var fbemail = sessionStorage.getItem('eml');               
                   var fbpassword = sessionStorage.getItem('pwd'); 
                    console.log(fbemail + fbpassword);
                   var mobileverfyupdate = firebase.database().ref("Users/" + uidd);
                  mobileverfyupdate.update({
                      mobile:{
                          number:fbPhoneNumber,
                          status:'verified'
                      }
                  });
             
                 var pagelogin = document.getElementById("login");
                 pagelogin.classList.add("loginbackground");
                 phverify.style.display = "none";
                 cdverify.style.display = "none";
                 logo.style.display = "none";
                 success.style.display = "block";
             }, function(error) {
                  var errorCode = error.code;
              var errorMessage = error.message;
             alert("Phone Verify Message:" + errorMessage);
             });

     }
 });
</script> 
</body>
</html>