<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
  <link rel="stylesheet" href="style/screen.css">
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.css" />
</head>
<body ng-app="BlankApp" ng-cloak id="login" ng-controller="myCtrl">
 
          <div layout="column" layout-align="center center" class="height100 ">
              <div class="logo">
                <img src="images/logo.png" alt="" />
              </div>
             

              <md-whiteframe class="md-whiteframe-3dp" layout-align="center center">
                <div class="signupview" >                
                  <div class="loginform">
                    <md-input-container class="md-block">
                      <label>Name</label>
                      <input ng-model="name">
                    </md-input-container>
                    <md-input-container class="md-block">
                      <label>Email</label>
                      <input ng-model="email">
                    </md-input-container>
                    <md-input-container class="md-block">
                      <label>Password</label>
                      <input ng-model="password">
                    </md-input-container>
                    <md-input-container class="md-block">
                      <label>Confirm Password</label>
                      <input ng-model="rpassword">
                    </md-input-container>
                    <div layout="row" layout-align="center center">
                    <!-- <md-button class="md-raised md-primary nomargin" ng-href="dashboard.html" >Register</md-button> -->
                    <md-button class="md-raised md-primary nomargin" ng-click="RegisterFunc()">Register</md-button>
                    </div>
                  </div>
                </div>
              </md-whiteframe>   
              <div class="signtxt ptop-10">
                Already have an account?<a href="login.html">Login</a>
              </div>
        </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.js"></script>

    <!-- Firebase config -->
  <script src="js/firebaseInit.js"></script>
  
    <!-- angular connection  -->
    <script type="text/javascript">     
        
   
      var app = angular.module('BlankApp', ['ngMaterial']);
      app.controller('myCtrl', function ($scope) {
        $scope.RegisterFunc = function() {  
          firebase.auth().createUserWithEmailAndPassword($scope.email, $scope.password).then(function(user) {
          var user = firebase.auth().currentUser;              
                var name, email, password, uidd, mobile;
                if (user != null) 
                { 
                  name = $scope.name;
                  email = $scope.email; 
                  mobile = $scope.mobile;
                  password = $scope.password;
                  uidd = user.uid;                
                  var logindetails = firebase.database().ref("Users/" + uidd);
                  logindetails.update({
                    Name:name,
                    Mobile:mobile  
                });
                }                
        }, function(error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message; 
          console.log(errorMessage);
      });

          // firebase.auth().createUserWithEmailAndPassword($scope.email, $scope.password).catch(function(error) 
          // {
          //   // Handle Errors here.
          //     var errorCode = error.code;
          //     var errorMessage = error.message;
          //     if (errorCode != null) 
          //     {
          //       console.log(errorMessage);
          //     }
          //     else
          //     {
          //       console.log('enter');
          //       firebase.auth().signInWithEmailAndPassword($scope.email, $scope.password).then(function(data) {
          //       var user = firebase.auth().currentUser;
          //       var name, email, password, uid, mobile;
          //       if (user != null) 
          //       { 
          //         name = user.name;
          //         email = user.email; 
          //         Mobile = user.mobile;
          //         password = user.password;
          //         uid = user.uid;  
          //         console.log(name + email + password + uid);

          //         var fbemail = $scope.email; 
          //         var fbpassword = $scope.password;
          //         var logindetails = firebase.database().ref("Users/");
          //         logindetails.update({
          //           uid: {
          //           Name:name,
          //           Mobile:mobile               
          //           }        
          //       });
                  
          //           // The user's ID, unique to the Firebase project. Do NOT use
          //           // this value to authenticate with your backend server, if
          //           // you have one. Use User.getToken() instead.
          //       }
          //       else
          //       {
          //           console.log("none");
          //       }
          //       });
          //     }
          // });
      
        }  
      });
    
    

 
    
    


        // firebase.auth().signOut().then(function() {
        // console.log('1');
        // console.log('signout');
        // }).catch(function(error) 
        // {
        //   console.log(error);
        // });
  </script>
</body>
</html>