$maincolor: #393186;
$primarycolor:#E0E0E0;
$secondrycolor:#646464;

$disablecolor:rgb(141, 141, 141);

$textcolor:#828282;
$leftmenutxtcolor:#c9c9c9;

$whitecolor:#ffffff;
$blackcolor:#000000;

$tcolor:transparent;

